*.class
*.log
*.swp
*.swo
*.swn

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.DS_Store

legocompiler/src/test/scala/generated/

*Output.txt
tree_debug_dump.txt
result.csv
*.out.*
run_config.cfg
