<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="DBLAB: A framework for building efficient database systems using high-level programming">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>DBLAB</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/epfldata/dblab">View on GitHub</a>

          <h1 id="project_title">DBLAB</h1>
          <h2 id="project_tagline">A framework for building efficient database systems using high-level programming</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/epfldata/dblab/zipball/develop">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/epfldata/dblab/tarball/develop">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        

<h1>
<a id="dblab-" class="anchor" href="#dblab-" aria-hidden="true"><span class="octicon octicon-link"></span></a>DBLAB <a href="https://travis-ci.org/epfldata/dblab"><img src="https://travis-ci.org/epfldata/dblab.svg?branch=develop" alt="Build Status"></a>
</h1>

DBLAB is a framework for building database systems by high-level programming, and getting really good performance nevertheless. This is achieved by a new DSL compiler framework, SC (the Systems Compiler), currently in an advanced stage of development at the EPFL DATA Lab.

While DBLAB is publicly available for inspection here, SC isn't. However, we have made a binary release of SC to be able to compile DBLAB.

<h2>Project Structure</h2>

<p>
<a href="https://github.com/epfldata/dblab/blob/develop/components">DBLAB Components</a> hosts a library of the components of a database system such as parsers, query engine, storage manager, and etc.
The documentation for this project can be found <a href="components-api">here</a>.
</p>

<p>
<a href="https://github.com/epfldata/dblab/blob/develop/components-compiler">DBLAB Components Compiler</a> hosts the compilation-related code for optimizing a database system such as transformers and code generators.
The documentation for this project can be found <a href="components-compiler-api">here</a>.
</p>

<p>
<a href="https://github.com/epfldata/dblab/blob/develop/experimentation">Experimentation</a> host the experimentation infrasturcture (e.g. the scripts, configurations, and the implementation of some benchmarks) used in the DBLAB systems.
</p>

<p>
<a href="https://github.com/epfldata/dblab/blob/develop/systems">Systems</a> hosts the code base of the systems implemented using the DBLAB Components.
</p>

<p>
<a href="https://github.com/epfldata/dblab/blob/develop/systems/legobase">LegoBase</a> hosts the implementation of a single-core main-memory analytical database engine. While the names in the code base suggest that this is LegoBase (published at VLDB 2014), the code in this repository is an entirely new development based on the lessons learned from VLDB 2014, sharing no common code with the previous system. To be more concrete, this implementation only contains a pipeline of the transformers existing in the DBLAB Components Compiler project.
</p>

  </body>
</html>